/* Imported fonts from the assets folder */
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

/* Default CSS setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  /* position: relative; */
  background-color:black !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/************ Navbar CSS ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
/* Let's connect button styling */
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}


/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
button-container {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  gap: 20px; /* Add space between the buttons */
  margin-top: 60px; /* Add some margin for spacing */
}
/* General button styles for both the button and download link */
.banner button, .btn-download {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline for <a> link */
  padding: 10px 20px;
  border: none;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
}

.banner button svg, .btn-download svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

/* Hover effects for both buttons */
.banner button:hover, .btn-download:hover {
  background-color: white;
  color: black;
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.banner button:hover svg, .btn-download:hover svg {
  margin-left: 25px; /* Move the icon further on hover */
}




@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
border-right: 0.08em solid #666;
}


/************ Skills Css ************/
.skill-bar {
  margin: 15px auto; /* Center the bar horizontally */
  background-color: gray;
  border-radius: 20px;
  overflow: hidden;
  width: 50%;
  text-align: center; /* Align text within the bar */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.skill-name {
  padding: 5px 10px;
  color: #fff;
  float: center;
  text-decoration:solid;
  font-weight: bold;
}

.skill-logo {
  max-width: 60%; /* Ensure the image is never wider than its container */
  height: auto; /* Maintain the aspect ratio of the image */
  object-fit: contain; /* Ensure the image is scaled properly within its box */
  border-radius: 0px; /* Optional: Add rounded corners to the image */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.skill-carousel {
  /* padding-left: 70px; */
  padding: 10px;
  height: 600px;  /* Set a fixed height for the carousel */
  position: relative;
  margin-bottom: 50px;
}
/*
.skill-percentage {
  height: 35px;
  background-color: #fff; /* Bootstrap primary color */
  /*border-radius: 20px 0 0 20px;
  text-align: right;
  line-height: 20px;
  color: #fff;
  transition: width 1s ease-in-out;
}
*/


.carousel-item h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

/* Adjustments for the carousel in a dark theme */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  padding: 10px;
}


.carousel-indicators [data-bs-target] {
  background-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  color: white; /* Set arrow color */
  z-index: 10;
}

.carousel-indicators {
  bottom: 10px; /* Adjust the position of the dots */
  z-index: 10;
  margin-bottom: 20px;
  /* right: 50%; */
  transform: translateX(1%);
}

.carousel-indicators .active {
  background-color: blue; /* Active dot color */
}

.carousel-item {
  padding-bottom: 50px; /* Add space between carousel items and dots */
}

/* Experience Section */
.experience-card {
  max-width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px;
}

.experience-card img {
  height: 90px;
  object-fit: contain;
  /* padding: 20px; */
  background: linear-gradient(90.21deg, black -5.91%, gray 31.58%);
}

.experience-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(90.21deg, black -5.91%, gray 31.58%);
  color: black;
}

.experience-card button {
  background-color: black; 
  color: white; 
  border: none;
  padding: 10px 20px;
  cursor: pointer; 
  outline: none;
}

.experience-card button:hover {
  background-color: white;
  color: black;
}

.experience-card button:focus {
  outline: none;
}

/* Modal Styling */

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;  /* Ensures the modal takes up the mentioned screen height */
}

.modal-content {
  color: #333;  /* Ensure the text is visible */
  padding: 20px; /* Add some padding */
  background: linear-gradient(90.21deg, white, gray);
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  max-height: 400px;
  overflow-y: auto; /* Add scroll if the content is large */
  padding: 20px;
  color: #000;
}

.modal-header {
  /* background-color: #f8f9fa; */
  padding-top: 50px;
  color: #000;
}

button.close {
  background: none;
  border: none;
}

ul {
  padding-left: 20px; /* Add padding to the list */
}

ul li {
  margin-bottom: 10px; /* Space out the bullet points */
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.proj-imgbx {
position: relative;
border-radius: 30px;
overflow: hidden;
margin-bottom: 24px;
}
.proj-imgbx::before {
content: "";
background: linear-gradient(90.21deg, black, gray);
opacity: 0.85;
position: absolute;
width: 100%;
height: 0;
transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

@keyframes flashColors {
  0% {
    color: #1db954; /* Green */
  }
  25% {
    color: #ff0000; /* Red */
  }
  50% {
    color: #ffcc00; /* Yellow */
  }
  75% {
    color: #00aaff; /* Blue */
  }
  100% {
    color: #1db954; /* Green (repeating) */
  }
}

.proj-txtx h6 a {
  color: white;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.proj-txtx h6 a:hover {
  animation: flashColors 1.5s infinite;  /* Change color on hover */
  text-decoration: underline; /* Underline the link on hover */
}

/************ Connect CSS ************/
.connect {
  background: linear-gradient(90.21deg,black, gray);
  padding: 60px 0 100px 0;
}
.connect img {
  width: 72%;
}
.connect h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.connect form input, .connect form textarea {
  width: 200%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 10px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.connect form input:focus, .connect form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.connect form input::placeholder, .connect form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.connect form input:focus::placeholder, .connect form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.connect form button {
  font-weight: 700;
  color: white;
  background-color: black;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.connect form button span {
  z-index: 1;
  position: relative;
}
.connect form button:hover {
  color: black;
}
.connect form button::before {
  content: "";
  background: white;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.connect form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 20px 0 20px 0;
  text-align: center;
  /* background-image: url('./assets/img/footer-bg.png'); */
  /* background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
